.rocket-container {
  border-top: solid 1px lightgray;
}

.rocket-card {
  display: flex;
  gap: 5vw;
  margin: 5vw;
}

.img-container > img {
  height: 30vw;
  width: 30vw;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.width-20vw {
  width: 20vw;
}

.back-color-gray {
  background-color: lightgray;
}
