.rocket-container {
  border-top: solid 1px lightgray;
}

.rocket-card {
  display: flex;
  gap: 5vw;
  margin: 5vw;
}

.img-container > img {
  height: 30vw;
  width: 30vw;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

article > h4 {
  font-size: 5vw;
}

article > p {
  font-size: 2vw;
}

.width-20vw {
  width: 25vw;
  font-size: 2vw;
}

.back-color-gray {
  background-color: lightgray;
}
