
.myprofile-section {
  display: flex;
  width: 100%;
  gap: 5px;
  padding: 5px;
  margin-top: 5px;
}

hr.line {
  border: 2px solid grey;
}

.dragons-section {
  display: flex;
  width: 33.3%;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.dragons-section .dragon-list {
  border: 1px solid grey;
  display: flex;
  height: 100%;
  align-content: center;
  align-items: center;
}

.dragons-section .btn-cancel-reserve {
  width: 180px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.dragons-section .btn-readmore {
  width: 115px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.dragons-section .mp-dragon-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 800;
  color: black;
}

.dragons-section .mp-dragon-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 5px;
}

.no-dragons {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 5px;
  color: orangered;
  text-align: center;
}

.rocket-container {
  margin-top: 2vw;
}

.profile-container {
  display: flex;
  justify-content: center;
  gap: 20vw;
  align-items: flex-start;
}

.rocket-title {
  font-weight: bold;
  font-size: 4vw;
  padding: 1vw;
  padding-bottom: 0;
}

.rocket-card-profile {
  border: solid 1px gray;
  padding-left: 3vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 35vw;
  height: 7vw;
}