.myProfileContainer {
  display: flex;
  gap:  10px;
  align-items: center;
  justify-content: center;
  margin: 10px 10% 20px 10%;
  flex-wrap: wrap;
  }

.myProfileContainer .profileGroupContainer {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 50%;
  flex-grow: 1;
}

.myProfileContainer .profileGroup {
  display: flex;
  flex-direction: column;
}

.myProfileContainer .profileCard {
  display: flex;
  border: 1px solid black;
  border-bottom: none;
  padding: 5px 3px;
  align-items: center;
  justify-content: space-between;
}

.myProfileContainer .profileCard:last-child {
  border-bottom: 1px solid black;
}

.myProfileContainer .leave {
  font-size: 16px;
  border-radius: 5px;
  background: none;
  margin: 0 10px;
  width: fit-content;
  height: fit-content;
  padding: 5px 3px;
  border: 1px solid #e15361;
  color: #e15361;
}

.myProfileContainer .readMore {
  text-decoration: none;
  background: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
}

.noEntry {
  text-align: center;
  color: #e15361;
}

hr.line {
  border: 2px solid grey;
}
