.header {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.logo {
  width: 100px;
  height: 100px;
}

.nav-links {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.nav-links:nth-child(4) {
  border-left: 2px solid grey;
}

.nav-links > a {
  text-decoration: none;
  color: blue;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo .logo-title {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: gray;
}

.nav-links .active {
  color: aliceblue;
}
